.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* text-decoration: underline; */
  display: inline;
  margin: 16px 0;
  padding: 0;
  font-weight: 600;
  font-size: 15px;
  color: rgb(0, 138, 240);
  outline-style: none;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}

hr.divider {
  overflow: visible;
  padding: 0;
  /* margin-bottom: 10px; */
  border: none;
  border-bottom: 1px solid #e0e0e0;
  color: #6e6d7a;
  text-align: center;
}

hr.divider:after {
  position: relative;
  background-color: white;
  top: 7px;
  content: "Or";
  font-weight: 800;
  display: inline-block;
  font-size: 14px;
  padding: 0 16px;
  color: rgb(142, 142, 142);
}

.login-with-google {
  display: flex;
}

.login-button {
  flex: 1;
  cursor: pointer;
  margin-top: 24px;
  color: rgb(38, 38, 38);
  padding: 8px 0;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  background-color: transparent;
  outline-style: none;
}
