.profile {
  height: calc(100vh - 54px);
  width: 100%;
}

.profile-main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 935px;
}

.profile-userinfo {
  display: flex;
  max-width: 935px;
  padding: 30px 0px;
  margin-bottom: 10px;
}

.profile-userinfo button {
  border: none;
  outline-style: none;
  background-color: transparent;
}

.profile-userinfo input {
  display: none;
}

.profile-userinfo .MuiAvatar-root {
  width: 150px;
  height: 150px;
  background-color: lightgray;
  border: 1px solid lightgray;
  margin: 0 70px;
}

.info-container {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.info-container > h1 {
  font-size: 28px;
  font-weight: 300;
  color: var(--text-black);
  margin-bottom: 20px;
}

.info-works {
  display: flex;
  justify-content: space-between;
  color: var(--text-black);
  margin-bottom: 20px;
}

.info-works span {
  font-size: 16px;
  margin-right: 40px;
  color: var(--text-black);
}

.info-container > h2 {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-black);
}

.profile-divider {
  height: 1px;
  width: 100%;
  background-color: lightgray;
  border: none;
}
