.ui-button {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  outline-style: none;
  background-color: transparent;
  padding: 8px;
}

.button-title {
  margin-left: 4px;
}
