* {
  margin: 0px;
}

:root {
  --text-black: rgb(38, 38, 38);
  --text-gray: rgb(142, 142, 142);
}

.app {
  position: relative;
  background-color: #fafafa;
  padding-bottom: 54px;
  width: 100vw;
}
